openapi: 3.0.3
info:
  title: Simple Login API
  version: 1.0.0
  description: Simple Login API
servers:
  - url: http://localhost:8080

paths:
  /api/welcome:
    get:
      summary: Welcome
      description: Welcome
      operationId: getWelcomeMessage
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WelcomeResponse'
        '500':
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#components/schemas/Error'
  /api/login:
    post:
      summary: User login
      description: User login
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login request accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/register:
    post:
      summary: User Register
      description: User create account
      operationId: register
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterResponse'
        '400':
          description: Validation error (missing/ invalid fields)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Email already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'